rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /worksheets/{assignmentId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /submissions/{assignmentId}/{studentId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /profile-pictures/{userId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /vault/{draftId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /tests/{draftId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /test_submissions/{draftId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
  }
}
